<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12 py-5 h-100">
            <h2 class="text-center mb-5">HNGRY</h2>
            <div class="d-flex justify-content-between">
                <input type="text" class="w-100 custom-input" placeholder="What do you need?" id="txtSearch" [(ngModel)]="item.name" (keydown.enter)="onClick()" />
                <button class="btn btn-warning custom-button ms-3 py-2" type="submit" (click)="onClick()">
                    <i class="fa-solid fa-plus"></i>
                </button>

            </div>
            <ul class="list-group custom-list mt-5">
                <li *ngFor="let item of items; let i = index" class="list-group-item border-bottom d-flex align-items-center justify-content-between">
                    <div (click)="onStrike(item)" [ngClass]="{'strike': item.strike}">
                        <div *ngIf="item.editing !== true">{{ item.name }}</div>
                        <input *ngIf="item.editing === true" type="text" class="" [(ngModel)]="item.name" (keydown.enter)="onSave(i)" (blur)="onSave(i)" />
                    </div>
                    <div>
                        <i (click)="onEdit(item)" class="fa-solid fa-pencil edit-icon me-2"></i>
                        <i (click)="onDelete(item)" class="fa-solid fa-trash delete-icon"></i>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>  